@import '../styles/vars';
@import '../styles/functions';

.parking {
    position: relative;
    width: 100%;
    background-color: $dark-grey;

    .title {
        @include H1;
        top: wv-1460(24px);
        left: 0;
        padding-left: wv-1460(24px);
        padding-right: wv-1460(24px);

        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: $brick;
        z-index: 2;

        @include tablet() {
            font-size: wv-1200(139px);
            line-height: wv-1200(130px);
        }

        @include mobile() {
            flex-direction: column;

            .light {
                align-self: flex-end;
            }
        }

        span {
            position: relative;
            display: inline-block;
        }

        .light {
            color: $light;
        }
    }

    .bgWrapper {
        position: relative;
        width: 100%;
        height: wv-1460(680px);

        @include tablet {
            height: wv-768(200px);
        }

        @include mobile {
            height: wv-380(200px);
        }

        .bg {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }
}
